*{
    font-size: 20px;


    padding: 0px;
    box-sizing: border-box;

}

body{
    margin: 0px;
}

.cine{
    width: 700px;
    float: left;
    background-color: lightblue;
}

.pantalla {
    width: 100%;
    padding: 30px 0px 30ox 0px;
    margin: auto;
    text-align: center;
}


.butacas{
    width: 100%;
    overflow-x: auto;
    position: relative;
}



.filas {
    display: table;
    width: 100%;
    align-items: center;
    /* list-style: none; */
}

.filas div {
    display: table-cell;
    /* width: 25px !important;
    height: 30px !important;
    border: 1px red solid;
    border-radius: 25%;
    margin: 1px; */

}

.asiento, .vacio, .denominacion{
    width: 20px ;
    height: 23px ;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    display: block;
    text-align: center;
    line-height: 22px;
    text-decoration: none;
    font-size: 11px;
}

.asiento{
    background-color: beige;
}

.asiento:hover {
    background-color: yellow;
}